.formContainer {
  background-color: rgb(156, 156, 216);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    padding: 20px 60px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: rgb(130, 82, 161);
      font-weight: bold;
      font-size: 24px;
    }
    .title {
      color: rgb(130, 82, 161);
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        border-bottom: 1px solid rgb(228, 198, 248);
        width: 250px;

        &::placeholder {
          color: grey;
        }
      }
      .file {
        display: none;
      }

      button {
        background-color: rgb(128, 76, 128);
        padding: 10px;
        font-weight: bold;
        border-radius: 5px;
        color: white;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        color: rgb(71, 178, 184);
        font-size: 12px;
        gap: 10px;
        align-items: center;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }

    p {
      font-size: 14px;
      margin-top: 10px;
      color: grey;
    }
  }
}
.home {
  background-color: rgb(156, 156, 216);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 65%;
    border: 1px solid black;
    height: 80%;
    border-radius: 10px;
    display: flex;
    overflow: hidden;

    .sidebar {
      flex: 1;
      background-color: rgb(80, 42, 111);

      .navbar {
        display: flex;
        align-items: center;
        background-color: rgb(43, 3, 75);
        color: white;
        height: 52px;
        padding: 15px;
        justify-content: space-between;

        .logo {
          font-weight: bold;
        }
        .user {
          display: flex;
          gap: 10px;
        }
        img {
          background-color: rgb(194, 237, 198) (0, 255, 26);
          height: 24px;
          width: 24px;
          border-radius: 50%;
          object-fit: cover;
        }

        button {
          background-color: purple;
          color: white;
          font-size: 10px;
          border: none;
          cursor: pointer;
        }
      }
      .search {
        border-bottom: 1px solid grey;

        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            outline: none;
            color: white;
            border:none;
            
            &::placeholder{
              color:lightgrey;
            }
          }
        }
      }

        .userChat {
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: white;
          cursor: pointer;


          &:hover{
            background-color:#94c7db;
          }

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          .userChatInfo{
            span{
              font-size:18px;
              font-weight:500px;

            }

          }

          p{
            font-size:14px;
            font-weight:bold;

          }
        }
      
    }
    .chats {
      flex: 2;
      background-color: rgb(126, 96, 151);


      .chatInfo{
        height:50px;
        background-color:skyblue;
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:10px;
        color:lightgrey;

      }
      .chatIcons{
        display:flex;
        gap:10px;

        img{
          height:24px;
          cursor:pointer;
        }

      }
      .Messages{
        background-color:yellow;
        padding:10px;
        height:calc(100%-160px);

      }
      .input{
        height:50px;
        background-color:white;
        padding:10px;
      }
    }
  }
}
